.choose-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
    
}
.choose-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -4em;
}
.choose-simu{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.choose-button {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}
.choose-option{
    background-color: #A38675;
    color: white;
    width: 10em;
    height: 10em;
    justify-content: center;
    margin-left: .5em;
    margin-right: .5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.choose-text{
    position: absolute;
    margin-top: -1em;
    margin-left: .3em;
    font-size: 28px;
    font-weight: 600; 
}
.choose-text-c{
    position: absolute;
    margin-top: -1.5em;
    margin-left: -.45em;
    font-size: 28px;
    font-weight: 600; 
}
.coffee-image{
    height: auto;
    width: 8em;
    margin-left: -.5em;
}
.cocktail-image{
    height: auto;
    width: 9em;
    margin-left: -.5em;
}
@media (max-width: 325px) {
    .choose-page {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.bev {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.cocktail-page {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cocktail-container {
    display: flex;
    flex-direction: row;
    
}
.cocktail-opts {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
}

.cocktail-button {
    margin: .8em;
}

.cocktail-option {
    background-color: #A38675;
    color: white;
    font-weight: 400;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 9.5em;
    height: 9.5em;
}

.cocktail-image-opt {
    width: 8em;
    height: auto;
}
.cocktail-gin{
    width: 7em;
    height: auto;
}
.cocktail-rpg{
    width: 8em;
    height: auto;
}

.cocktail-text {
    font-size: 1.2rem;
    text-align: center;
    position: absolute;
    margin-top: 5.8em;
}
.cocktail-text-a {
    font-size: 1.2rem;
    text-align: center;
    position: absolute;
    margin-top: 4.4em;
}

/* Responsive for tablets */
@media screen and (max-width: 938px) {
    .cocktail-opts {
        grid-template-columns: repeat(4, 1fr); 
        margin-top: 2em;
    }

    .cocktail-text {
        font-size: 1.2rem;
    }
}

/* Responsive for mobile devices */
@media screen and (max-width: 792px) {
    .cocktail-opts {
        grid-template-columns: repeat(3, 1fr); 
        margin-top: 10em;
    }

}
@media screen and (max-width: 560px) {
    .cocktail-opts {
        grid-template-columns: repeat(2, 1fr); 
        margin-top: 48em;
    }
    .cocktail-button {
        margin: .4em;
    }
}

.coffee-page {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.coffee-container {
    display: flex;
    flex-direction: row;
    
}
.coffee-opts {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
}

.coffee-button {
    margin: .8em;
}

.coffee-option {
    background-color: #A38675;
    color: white;
    font-weight: 400;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 9.5em;
    height: 9.5em;
}

.coffee-image-opt {
    width: 8em;
    height: auto;
}
.coffee-ara{
    width: 9em;
    height: auto;
}
.coffee-text {
    font-size: 1.2rem;
    text-align: center;
    position: absolute;
    margin-top: 5.8em;
}
.coffee-text-a {
    font-size: 1.2rem;
    text-align: center;
    position: absolute;
    margin-top: 4.4em;
}

/* Responsive for tablets */
@media screen and (max-width: 938px) {
    .coffee-opts {
        grid-template-columns: repeat(4, 1fr); 
        margin-top: 2em;
    }

    .coffee-text {
        font-size: 1.2rem;
    }
}

/* Responsive for mobile devices */
@media screen and (max-width: 792px) {
    .coffee-opts {
        grid-template-columns: repeat(3, 1fr); 
        margin-top: 10em;
    }

}
@media screen and (max-width: 560px) {
    .coffee-opts {
        grid-template-columns: repeat(2, 1fr); 
        margin-top: 48em;
    }
    .coffee-button {
        margin: .4em;
    }
}


.simu-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
    overflow: hidden;
    
}
.simu-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.simu-title {
    position: absolute;
    top: 10%;
    font-size: 14px;
    color: #054243;
}
.simu-3d {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}
.simu-des {
    z-index: 1000;
    bottom: 20%;
    background-color: rgba(163, 134, 117, .7);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    border-radius: 20px;
    color: white;
    width: 100%;
    margin-left: 2em;
}
.simu-buttons {
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; 
    z-index: 100;
}
.simu-button {
    width: 90%;
    color: white;
    border: none;
    background-color: #A5A58D;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-right: .5em;
    margin-left: .5em;
    margin-right: .5em;
    font-weight: 400;
}
.simu-step {
    font-size: 24px;
    font-weight: 700;
}

@media screen and (max-width: 560px) {
    .simu-3d {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        align-items: center;
        
    }
    .simu-des {
        position: absolute;
        z-index: 1000;
        bottom: 15%;
        background-color: rgba(163, 134, 117, .7);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                    0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 20px;
        border-radius: 20px;
        color: white;
        width: 80%;
        margin-left: 0em;
    }
    
}


.loc-modal-content, .loc-modal-basil, .loc-modal-gin, .loc-modal-shake, .loc-modal-red {
    height: 100vh;
    width: 30vw;
    z-index: 1;
    margin-top: 9em;
  }
  .loc-modal-ara {
    height: 100vh;
    width: 30vw;
    z-index: 1;
    margin-top: 0em;
  }
  
  @media (max-width: 768px) {
    .loc-modal-content {
      width: 90vw; /* Adjust canvas width for mobile */
      margin-top: 5em; /* Adjust margin for mobile */
    }
  }
  
  @media (max-width: 480px) {
    .loc-modal-content {
      width: 100vw;
      margin-top: 0em;
    }
    .loc-modal-basil, .loc-modal-red  {
        margin-top: 5em;
        width: 100vw;
    }
    .loc-modal-gin {
        margin-top: 2em;
        width: 100vw;
    }
    .loc-modal-shake {
        margin-top: 7em;
        width: 100vw;
    }
    .loc-modal-ara {
        margin-top: -3em;
        width: 100vw;
    }
  }  