
.home-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
    overflow-y: hidden;
}

.home-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-button {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.accordion-item {
    margin-bottom: 1em; 
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    max-height: 9em; 
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.accordion-item.active {
    max-height: 20em; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.accordion-button {
    background-color: #A38675;
    background-image: url('/ButtonBG.png');
    background-size: cover;
    color: white;
    font-weight: 600;
    font-size: 24px;
    border-radius: 20px 20px 0 0; 
    width: 100%;
    text-align: left;
    padding: 1em;
    cursor: pointer;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.accordion-content {
    background-color: #A38675;
    background-image: url('/AccBG.png');
    background-size: cover;
    padding: 1em;
    border-radius: 0 0 20px 20px; 
    border-top: none; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.accordion-inner-button {
    width: 100%;
    margin-top: 1em;
    padding: 0.5em 1em;
    background-color: #A5A58D;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight: 400;
}


@media (max-width: 325px) {
    .home-page {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: left;
        align-items: left;
        overflow: hidden;
    }
}