@font-face {
    font-family: "Poppins ExtraBold";
    src: url("https://db.onlinewebfonts.com/t/1a69bbaf09f62b4596f5020478cd0399.eot");
    src: url("https://db.onlinewebfonts.com/t/1a69bbaf09f62b4596f5020478cd0399.eot?#iefix") format("embedded-opentype"),
         url("https://db.onlinewebfonts.com/t/1a69bbaf09f62b4596f5020478cd0399.woff2") format("woff2"),
         url("https://db.onlinewebfonts.com/t/1a69bbaf09f62b4596f5020478cd0399.woff") format("woff"),
         url("https://db.onlinewebfonts.com/t/1a69bbaf09f62b4596f5020478cd0399.ttf") format("truetype"),
         url("https://db.onlinewebfonts.com/t/1a69bbaf09f62b4596f5020478cd0399.svg#Poppins ExtraBold") format("svg");
}

.header {
    position: fixed;
    padding-top: 0.1em;
    width: 100%;
    top: 0; 
    color: white;
    background-color: #A5A58D;
    background-size: cover;
    z-index: 10;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 5px;
    margin-left: auto;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.header-line {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header-text {
    font-family: 'Le Jour Script';
    margin: 15px;
    font-size: 23px;
    color: white;
    margin-top: 1em;
    font-weight: bold;
}

.header-link {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.header-link:hover {
    color: white;
    text-decoration: none; 
}

.header-back {
    background-color: transparent;
    position: absolute;
    border: none;
    left: 0;
    top: 1%;
    color: white;
    font-size: 30px;
    padding-left: 15px;
}

.menu-button {
    position: absolute;
    background-color: transparent;
    top: 0;
    right: 1%;
    padding-right: 10px;
    margin-top: .8em;
    border: none;
}

.menu-icon {
    color: white;
    font-size: 30px;
    
}

.dropdown-menu {
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #A5A58D;
    border: none;
    z-index: 1000;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 15px;
    margin-top: -.4em;
    opacity: 0; /* Initially hidden */
    transform: translateY(-10px); /* Initially offset */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Animation */
    pointer-events: none;
}

.dropdown-menu.show {
    opacity: 1; /* Fully visible */
    transform: translateY(0); /* Return to original position */
    pointer-events: auto;
    
}

.dropdown-item {
    padding: 10px;
    text-decoration: none;
    color: white;
    display: block;
    font-size: 19px; 
    border-bottom-left-radius: 20px;
    margin-right: 0.7em;
}

.dropdown-item:hover {
    background-color: transparent;
    border: none;
    color: white;
}

.footer {
    position: fixed;
    padding-top: 0.1em;
    width: 100%;
    bottom: 0; 
    color: black;
    z-index: 100;
    width: 100%;
    margin-left: auto;
    text-align: center;
    font-size: 10px;
}
